// Dark theme overrides
// $AU-colordark-foreground-text: #ffffff;
// $AU-colordark-foreground-action: #45c2f0;
// $AU-colordark-foreground-focus: #e48ffc;
// $AU-colordark-background: #3c4858;

// Light theme overrides
// $AU-color-foreground-action: #3c4858;
// $AU-color-foreground-focus: #e48ffc;
//Main nav, set project specific breakpoint
$AU-main-nav-breakpoint: sm;
@import "../auds/sass/pancake.scss";

// Reset the body
body {
  padding: 0;
  margin: 0;
}

.au-grid .container-fluid {
  @include AU-space(max-width, 80unit);

  @include AU-media(sm) {
    @include AU-space(padding-left, 2unit);
    @include AU-space(padding-right, 2unit);
  }
}

main > .au-body {
  @include AU-space(padding, 2unit 0);
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
  @include AU-space(padding-right, 1unit);
}

h1 {
  word-wrap: break-word;
}

@media only screen and (max-width: $AU-media-xs) {
  .au-body h1 {
    @include AU-space(font-size, 2.25unit);
  }

  .au-body h2 {
    @include AU-space(font-size, 1.75unit);
  }
}

.header__badge {
  @include AU-space(padding, 2px 0.5unit);
  @include AU-space(margin-left, 0.5unit);
  border: solid 2px $AU-colordark-foreground-text;
  border-radius: 2em;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: normal;
  vertical-align: middle;
}

.bar-chart-title {
  text-align: center;
  @include AU-space(padding-bottom, 1unit);
}

.custom-tooltip {
  @include AU-fontgrid(xs);
  background-color: rgba(1, 1, 1, 0.8);
  color: $AU-colordark-foreground-text;
  @include AU-space(padding, 0.35unit);
  @include AU-space(max-width, 8unit);
  border-radius: $AU-border-radius;

  p + p {
    @include AU-space(margin-top, 0.25unit);
  }
}

.mt-hero {
  margin-top: 24px !important;
  margin-top: 1.5rem !important;
}
